# Virtual Environment Python
.venv/
venv/

# Python Cache
__pycache__/

# IntellIJ
.idea/

# Jupyter Lab
.ipynb_checkpoints/

# Data
data/
processed-data/

# Temporary files
temp/

# To label username
to-label/.name

# Data story website
Data-Story/
